@utility article-container {
  @apply w-[700px] min-h-screen h-max py-[65px] flex flex-col gap-[120px];
}

@utility section-container {
  @apply flex flex-col gap-[16px] min-h-[300px] font-poppins text-[14px];
}

@utility section-heading {
  @apply text-[18px];
}

@utility section-body {
  @apply text-color-75;
}

@utility list {
  @apply flex flex-col gap-1 [&>li]:ml-5 [&>li]:p-1 [&>li]:text-sm
}

@utility pj-underline {
  @apply relative inline-block after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[1px] after:bg-orange-500 after:rounded px-1 after:translate-y-[1px] hover:after:translate-y-0 after:default-transition cursor-pointer
}


.dotted-connection {
  background-image: linear-gradient(
    to right,
    var(--color-foreground) 0,
    var(--color-foreground) 2px,
    transparent 2px,
    transparent 6px
  );
  background-size: 8px 2px;
  background-repeat: repeat-x;
}

/* Animation */
@keyframes dotted-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.animate-dotted {
  animation: dotted-move 20s linear infinite;
}

/* Vertical dotted line */
.dotted-connection-vertical {
  background-image: linear-gradient(
    to bottom,
    var(--color-foreground) 0,
    var(--color-foreground) 2px,
    transparent 2px,
    transparent 6px
  );
  background-size: 2px 8px; /* width x height */
  background-repeat: repeat-y;
}

/* Animation for vertical movement */
@keyframes dotted-move-vertical {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 200px;
  }
}

.animate-dotted-vertical {
  animation: dotted-move-vertical 20s linear infinite;
}

.grid-bg {
  background-image:
    linear-gradient(to right, var(--color-grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid-line) 1px, transparent 1px);
  background-size: 24px 24px; /* grid size */
}

.clip-right-triangle {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


