@utility article-container {
  @apply w-[700px] min-h-screen h-max py-[65px] flex flex-col gap-[120px];
}

@utility section-container {
  @apply flex flex-col gap-[16px] min-h-[300px] font-poppins;
}

@utility section-body {
  @apply text-color-75;
}

@utility list {
  @apply flex flex-col gap-1 [&>li]:ml-5 [&>li]:p-1 [&>li]:text-sm
}


