@utility article-container {
  @apply w-[700px] min-h-screen h-max py-[65px] flex flex-col gap-[120px];
}

@utility section-container {
  @apply flex flex-col gap-[16px] min-h-[300px] font-poppins text-[14px];
}

@utility section-heading {
  @apply text-[18px];
}

@utility section-body {
  @apply text-color-75;
}

@utility list {
  @apply flex flex-col gap-1 [&>li]:ml-5 [&>li]:p-1 [&>li]:text-sm
}

@utility pj-underline {
  @apply relative inline-block after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[1px] after:bg-orange-500 after:rounded px-1 after:translate-y-[1px] hover:after:translate-y-0 after:default-transition cursor-pointer
}


