@import "tailwindcss";
@import "./utils.css";
@import "./theme.css";
@import "./typo.css";
@import "./app.css";



body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
