:root {
  color-scheme: light dark;
  --black: #111;
  --white: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #FF5C00;
  --color-muted: #212121;
  --color-gray-light: #2a2a2a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html:has(#light:checked) {
  color-scheme: light;
  --color-background: var(--white);
  --color-foreground: var(--black);

  /* text color */
  --color-text: rgb(0,0,0);
  --color-text-invert: rgb(255,255,255);
  --color-text-75: rgba(0,0,0,0.75);
  --color-grid-line: rgba(0,0,0,0.08);
}
html:has(#dark:checked) {
  color-scheme: dark;
  --color-background: var(--black);
  --color-foreground: var(--white);

  /* text color */
  --color-text: rgb(255,255,255);
  --color-text-invert: rgb(0,0,0);
  --color-text-75: rgba(255,255,255,0.75);
  --color-grid-line: rgba(255,255,255,0.08);

}

@utility text-color {
  @apply text-(--color-text) default-transition;
}
@utility text-color-invert {
  @apply text-(--color-text-invert) default-transition;
}
@utility text-color-75 {
  @apply text-(--color-text-75) default-transition;
}
@utility fill-color {
  @apply fill-(--color-text-75) default-transition;
}





