@utility title1b {
  @apply text-[48px] leading-[56px] font-bold tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic
}

@utility title1 {
  @apply text-[48px] leading-[56px] font-light tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility title1-m {
  @apply text-[48px] leading-[56px] font-medium tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h1-b {
  @apply text-[36px] leading-[44px] font-bold tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h1-m {
  @apply text-[36px] leading-[44px] font-medium tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h1 {
  @apply text-[36px] leading-[44px] font-light tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h2-b {
  @apply text-[28px] leading-[36px] font-bold tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h2-m {
  @apply text-[28px] leading-[36px] font-medium tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility h2 {
  @apply text-[28px] leading-[36px] font-light tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility b1-b {
  @apply text-[16px] leading-[26px] font-bold tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility b1-m {
  @apply text-[16px] leading-[26px] font-medium tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility b1 {
  @apply text-[16px] leading-[26px] font-light  [font-family:var(--font-poppins)] not-italic;
}

@utility s1-b {
  @apply text-[14px] leading-[20px] font-bold tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility s1-m {
  @apply text-[14px] leading-[20px] font-medium tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility s1 {
  @apply text-[14px] leading-[20px] font-light tracking-[-0.25px] [font-family:var(--font-poppins)] not-italic;
}

@utility title1-primary {
  @apply text-[64px] leading-[72px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}

@utility h1-primary {
  @apply text-[48px] leading-[56px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic
}

@utility h2-primary {
  @apply text-[35px] leading-[40px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}

@utility b1-primary {
  @apply text-[28px] leading-[18px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}
@utility b2-primary {
  @apply text-[24px] leading-[18px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}

@utility s1-primary {
  @apply text-[14px] leading-[20px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}

@utility b2-primary {
  @apply text-[20px] leading-[18px] font-light tracking-[-0.25px] [font-family:var(--font-jersey)] not-italic;
}

@utility font-jersey {
  @apply [font-family:var(--font-jersey)];
}

