@utility flex-center {
  @apply flex items-center justify-center;
}

@utility default-transition {
  @apply transition-all duration-300 ease-in-out;
}

@utility fixed-screen {
  @apply w-screen h-screen fixed top-0 left-0;
}
@utility fixed-screen-center {
  @apply flex-center fixed-screen;
}
@utility flex-screen-center {
  @apply flex-center w-screen h-screen;
}

@utility flex-y {
  @apply flex flex-col
}

@utility flex-x {
  @apply flex flex-row;
}

@utility text-underline {
  @apply relative inline-block after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[1px] after:bg-orange-500 after:rounded after:translate-y-0.5 hover:after:translate-y-0 after:default-transition;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}

